
    <!-- Preloader -->
    <div id="bethany-page-loading" class="bethany-pageloading">
        <div class="bethany-pageloading-inner"> 
            <img src="assets/eli/images/logo-dark.png" class="logo" alt=""> 
        </div>
    </div>
    <!-- Navigation -->
    <header>
        <div class="bethany-header-navbar">
            <div class="container bethany-navbar-container">
                <div class="bethany-navigation-wrap bg-light bethany-start-header start-style">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <nav class="navbar navbar-expand-md navbar-light">
                                    <!-- Logo -->
                                    <a class="navbar-brand" >
                                        <img src="assets/eli/images/logo-dark.png" alt="">
                                        <!-- <h2>Bethany<span>Wedding & Event</span></h2> -->
                                    </a>
                                    <!-- Menu -->
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                        <ul class="navbar-nav ml-auto py-4 py-md-0">
                                            <li class="nav-item active"> <a class="nav-link" >Home</a></li>
                                            <li class="nav-item"> <a class="nav-link" >About</a></li>
                                            <li class="nav-item"> <a class="nav-link" >Services</a></li>

                                            <li class="nav-item"> <a class="nav-link" >Portfolio</a></li>
                                            <li class="nav-item"> <a class="nav-link" >Contact</a> </li>
                                            <!-- <li class="nav-item"> <a class="nav-link" href="blog.html">Blog</a> </li> -->
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Slider & Services -->
    <div class="bethany-homepage-slider">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="bethany-slider">
                        <div class="bethany-slider-item">
                             <img class="bethany-slider-img" src="assets/eli/images/services/1.jpg" alt="">
                                <div class="bethany-slider-caption">
                                    <div class="bethany-slider-subtitle"><a >Newbornbaby</a></div>
                                    <div class="bethany-slider-title"><a >....</a></div>
                                </div>
                        </div>
                        <div class="bethany-slider-item">
                            <img class="bethany-slider-img" src="assets/eli/images/services/2.jpg" alt="">
                                <div class="bethany-slider-caption">
                                    <div class="bethany-slider-subtitle"><a >Weddings</a></div>
                                        <div class="bethany-slider-title"><a >....</a></div>
                                </div>
                        </div>
                        <div class="bethany-slider-item">
                            <img class="bethany-slider-img" src="assets/eli/images/services/3.jpg" alt="">
                                <div class="bethany-slider-caption">
                                    <div class="bethany-slider-subtitle"><a >Family</a></div>
                                    <div class="bethany-slider-title"><a >....</a></div>
                                </div>
                        </div>
                        <div class="bethany-slider-item">
                            <img class="bethany-slider-img" src="assets/eli/images/services/4.jpg" alt="">
                                <div class="bethany-slider-caption">
                                    <div class="bethany-slider-subtitle"><a >Children's</a></div>
                                    <div class="bethany-slider-title"><a >...</a></div>
                                </div>
                        </div>
                        <div class="bethany-slider-item">
                            <img class="bethany-slider-img" src="assets/eli/images/services/5.jpg" alt="">
                                <div class="bethany-slider-caption">
                                    <div class="bethany-slider-subtitle"><a >Birthday</a></div>
                                    <div class="bethany-slider-title"><a > ...</a></div>
                                </div>
                        </div>
                        <div class="bethany-slider-item">
                            <img class="bethany-slider-img" src="assets/eli/images/services/6.jpg" alt="">
                                <div class="bethany-slider-caption">
                                    <div class="bethany-slider-subtitle"><a >Pregnant women</a></div>
                                    <div class="bethany-slider-title"><a >...</a></div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="signature">Services</div>
                </div>
            </div>
        </div>
    </div>
    <!-- About -->
    <div class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-4">
                    <h2 class="signature">About my</h2>
                    <hr class="line line-hr-left">
                    <h5>Capturing Life's Precious Moments</h5>
                        <p>Photography is the art of freezing moments in time and turning them into everlasting memories. At our studio, we offer a diverse range of photography services that cater to the most special moments in life.</p>
                        <p>For expectant mothers, our maternity photography beautifully captures the glow and anticipation of pregnancy. We create stunning images that celebrate the journey to motherhood, preserving the magic of this unique phase.</p>
                       <!--  <p>When it comes to little ones, our baby photography is a heartwarming experience. We skillfully capture the innocence and joy of infants, creating timeless photos that you'll cherish for a lifetime.</p>
                        <p>For couples in love, we specialize in engagement and wedding photography. Your love story deserves to be told with elegance and style, and we are here to make your dream wedding a visual reality. Our photographers expertly capture the love and joy of this special day, ensuring that every smile, kiss, and dance is preserved forever.</p>
                        <p>Birthdays are a time for celebration, and our birthday photography services are designed to capture the excitement and happiness of your special day. From the first birthday to milestone celebrations, we document every laughter-filled moment.</p>
                        <p>With an unwavering commitment to excellence, we aim to turn every click of the camera into a work of art, etching your life's most precious moments into the annals of time. Let us be your storytellers, capturing the magic and emotions that make life truly extraordinary.</p> -->
                        Whether it's the joy of pregnancy, the sweetness of a newborn, the love of a couple, or the excitement of a birthday, our photography services are here to celebrate and preserve these cherished moments.

                </div>
                <div class="col-md-5 offset-1">
                    <div class="about-img">
                        <div class="img">
                            <img src="assets/eli/images/about.jpg" alt="">
                        </div>
                        <div class="about-img-2">Eli</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Wedding Dates -->
    <!-- <div class="section-padding bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-5 mb-30">
                    <h2>Wedding Dates</h2>
                    <hr class="line line-hr-left">
                    <p>Your at-a-glance guide to where I stand on all the truly important things. Wedding elit miss the eget the solin miss citudino selus rutrum in miss vestibulum eleifen ornare torto.</p>
                </div>
                <div class="col-md-6 offset-md-1">
                    <table class="wedding-date-table">
                        <tbody>
                            <tr>
                                <td>
                                    <h6>1. SWITZERLAND<br><span>{September : 2022}</span></h6>
                                </td>
                                <td>
                                    <p>Bauen</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6>2. ITALY<br><span>{October : 2022}</span></h6>
                                </td>
                                <td>
                                    <p>Rome</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6>3. AMSTERDAM<br><span>{November : 2022}</span></h6>
                                </td>
                                <td>
                                    <p>Netherlands</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6>4. SPAIN<br><span>{December : 2022}</span></h6>
                                </td>
                                <td>
                                    <p>Barcelona</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> -->
    <div class="section-padding" style="padding: 20px 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>Photo Gallery</h2>
                    <hr class="line line-hr-center">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 gallery-item">
                    <a href="assets/eli/images/gallery/1.jpg" title="" class="img-zoom">
                        <div class="gallery-box">
                            <div class="gallery-img"> <img src="assets/eli/images/gallery/1.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                            <div class="gallery-detail text-center"> <i class="ti-heart"></i> </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 gallery-item">
                    <a href="assets/eli/images/gallery/2.jpg" title="" class="img-zoom">
                        <div class="gallery-box">
                            <div class="gallery-img"> <img src="assets/eli/images/gallery/2.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                            <div class="gallery-detail text-center"> <i class="ti-heart"></i> </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 gallery-item">
                    <a href="assets/eli/images/gallery/3.jpg" title="" class="img-zoom">
                        <div class="gallery-box">
                            <div class="gallery-img"> <img src="assets/eli/images/gallery/3.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                            <div class="gallery-detail text-center"> <i class="ti-heart"></i> </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 gallery-item">
                    <a href="assets/eli/images/gallery/4.jpg" title="" class="img-zoom">
                        <div class="gallery-box">
                            <div class="gallery-img"> <img src="assets/eli/images/gallery/4.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                            <div class="gallery-detail text-center"> <i class="ti-heart"></i> </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 gallery-item">
                    <a href="assets/eli/images/gallery/5.jpg" title="" class="img-zoom">
                        <div class="gallery-box">
                            <div class="gallery-img"> <img src="assets/eli/images/gallery/5.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                            <div class="gallery-detail text-center"> <i class="ti-heart"></i> </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 gallery-item">
                    <a href="assets/eli/images/gallery/9.jpg" title="" class="img-zoom">
                        <div class="gallery-box">
                            <div class="gallery-img"> <img src="assets/eli/images/gallery/9.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                            <div class="gallery-detail text-center"> <i class="ti-heart"></i> </div>
                        </div>
                    </a>
                </div>
             
            </div>
        </div>
    </div>
   
    <div class="section-padding bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>Video Gallery</h2>
                    <hr class="line line-hr-center">
                </div>
            </div>
            <div class="row">
                <!-- 2 columns -->
                <div class="col-md-6">
                    <div class="vid-area mb-30">
                        <div class="vid-icon"> <img src="assets/eli/images/gallery/10.jpg" alt="">
                            <a class="video-gallery-button vid" href="https://www.youtube.com/watch?v=teLhLLlhfzc&ab_channel=Marcus%26Kristin">
                                <span class="video-gallery-polygon">
                                    <i class="ti-control-play"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="vid-area mb-30">
                        <div class="vid-icon"> <img src="assets/eli/images/gallery/11.jpg" alt="">
                            <a class="video-gallery-button vid" href="https://www.youtube.com/watch?v=teLhLLlhfzc&ab_channel=Marcus%26Kristin">
                                <span class="video-gallery-polygon">
                                    <i class="ti-control-play"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- 3 columns -->
                <div class="col-md-4">
                    <div class="vid-area mb-30">
                        <div class="vid-icon"> <img src="assets/eli/images/gallery/12.jpg" alt="">
                            <a class="video-gallery-button vid" href="https://www.youtube.com/watch?v=teLhLLlhfzc&ab_channel=Marcus%26Kristin">
                                <span class="video-gallery-polygon">
                                    <i class="ti-control-play"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="vid-area mb-30">
                        <div class="vid-icon"> <img src="assets/eli/images/gallery/13.jpg" alt="">
                            <a class="video-gallery-button vid" href="https://www.youtube.com/watch?v=teLhLLlhfzc&ab_channel=Marcus%26Kristin">
                                <span class="video-gallery-polygon">
                                    <i class="ti-control-play"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="vid-area mb-30">
                        <div class="vid-icon"> <img src="assets/eli/images/gallery/14.jpg" alt="">
                            <a class="video-gallery-button vid" href="https://www.youtube.com/watch?v=teLhLLlhfzc&ab_channel=Marcus%26Kristin">
                                <span class="video-gallery-polygon">
                                    <i class="ti-control-play"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonials -->
    <div class="testimonials section-padding bg-1">
        <div class="background bg-fixed bg-img" data-overlay-dark="2" data-background="assets/eli/images/banner/2.jpg"> </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>Clients</h2>
                    <hr class="line line-hr-center">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="testim">
                        <div class="box">
                            <div class="item">
                                <div class="cont">
                                    <div class="img"> <img src="assets/eli/images/team/05.jpg" alt=""> </div>
                                    <div class="info">
                                        <h5>Eloise & Michael</h5> <span>Bern, 2022</span>
                                    </div>
                                </div>
                                <p>Quality eu nunc bibe endum in finibus elit miss eget the solin miss citudin elit. Phasellus rutrum in lacus ut miss. Lestibulum tortor semper the drana. Wedding fusce ornare ut tortor hendreri.</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="item">
                                <div class="cont">
                                    <div class="img"> <img src="assets/eli/images/team/06.jpg" alt=""> </div>
                                    <div class="info">
                                        <h5>Katie & Frank</h5> <span>London, 2022</span>
                                    </div>
                                </div>
                                <p>Wedding eu nunc bibe endum in finibus elit miss eget the solin miss citudin elit. Phasellus rutrum in lacus ut miss. Lestibulum tortor semper the drana. Wedding fusce ornare ut tortor hendreri.</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="item">
                                <div class="cont">
                                    <div class="img"> <img src="assets/eli/images/team/07.jpg" alt=""> </div>
                                    <div class="info">
                                        <h5>Alisea & James</h5> <span>France, 2022</span>
                                    </div>
                                </div>
                                <p>Event eu nunc bibe endum in finibus elit miss eget the solin miss citudin elit. Phasellus rutrum in lacus ut miss. Lestibulum tortor semper the drana. Wedding fusce ornare ut tortor hendreri.</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="item">
                                <div class="cont">
                                    <div class="img"> <img src="assets/eli/images/team/08.jpg" alt=""> </div>
                                    <div class="info">
                                        <h5>Latoya & James</h5> <span>Roma, 2022</span>
                                    </div>
                                </div>
                                <p>Ceremony eu nunc bibe endum in finibus elit miss eget the solin miss citudin elit. Phasellus rutrum in lacus ut miss. Lestibulum tortor semper the drana. Wedding fusce ornare ut tortor hendreri.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="main-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-md-3 mb-30">
                    <div class="item abot">
                        <div class="logo mb-20">
                            <h2>elifotografia</h2>
                        </div>
                        <p>We believe that it is all about the BIG DREAMS and the small details!</p>
                        <div class="social-icon">
                            <a ><i class="ti-facebook"></i></a>
                            <a ><i class="ti-twitter"></i></a>
                            <a ><i class="ti-instagram"></i></a>
                            <a ><i class="ti-pinterest"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 offset-md-1 mb-30">
                    <div class="item usful-links">
                        <div class="fothead">
                            <h6>Useful Links</h6>
                        </div>
                        <ul>
                            <li><i class="ti-angle-right"></i> <a >About</a></li>
                            <li><i class="ti-angle-right"></i> <a >Services</a></li>
                            <li><i class="ti-angle-right"></i> <a >Portfolio</a></li>
                            <li><i class="ti-angle-right"></i> <a >F.A.Qs</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 mb-30">
                    <div class="item fotcont">
                        <div class="fothead">
                            <h6>Get in touch</h6>
                        </div>
                        <p>+1.123.444.0000</p>
                        <p>info@elifotografia.com</p>
                    </div>
                </div>
                <div class="col-md-3 mb-30">
                    <div class="item fotcont">
                        <div class="fothead">
                            <h6>Location</h6>
                        </div>
                        <p>Broadway 5 St Normain New York 98499, USA</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="text-left">
                            <p>© 2023, Elifotografía. Todos los derechos reservados. Desarrollado por <a href="https://buckapi.com/" target="_blanck">Buckapi</a></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-right-left">
                            <p><a >Terms &amp; Conditions</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- toTop -->
    <a  class="totop">TOP</a>