<div id="wrapper">
    <!-- content-holder -->
    <div class="content-holder">
        <!-- column-image  -->
        <div class="column-image">
            <div class="bg"  data-bg="assets/photographer/images/bg/17.jpg"></div>
            <div class="overlay"></div>
            <div class="column-title">
                <h2>ALGUNAS PALABRAS SOBRE MÍ
                </h2>
                <h3>La fotografía es mi pasión, y a través de mi lente, descubro un mundo diferente que me encantaría compartir contigo. </h3>
            </div>
            <div class="ci_dec"><span></span></div>
        </div>
        <!-- column-image end  -->
        <!-- column-wrapper -->
        <div class="column-wrapper">
            <!--section  -->
            <section id="sec1">
                <div class="container small-container">
                    <div class="section-title fl-wrap">
                        <h3>Julian Pilcue</h3>
                        <h4>Fotografo de profesión</h4>

                        <div class="section-number">01. </div>
                    </div>
                   
                    <div class="column-wrapper_text fl-wrap">
                        <div class="column-wrapper_item fl-wrap">
                            <div class="column-wrapper_text fl-wrap">
                                <!-- serv-wrap-->
                                <div class="serv-wrap fl-wrap">
                                    <!-- serv-item -->
                                    <div class="serv-item">
                                        
                                        <div class="serv-text">
                                            <h4>  ENCANTADO DE CONOCERTE</h4>
                                            
                                            <p>Soy Julian Pilcue, un fotógrafo profesional con base en la hermosa ciudad de Ashkelon, Israel. Estoy emocionado de conocerte y de que explores mi portafolio de fotografías. Después de ver mi trabajo, espero que podamos colaborar en la creación de algo verdaderamente excepcional.</p>
                
                                                <p>Creo firmemente en la frase: "Una imagen vale más que mil palabras".</p>
                
                                            <p>Mi viaje en el mundo de la fotografía comenzó en los Actos de Grado de la Ilustre Universidad de Los Andes en el Estado Mérida, Venezuela, 
                                                donde fui el fotógrafo oficial durante más de 20 años. Durante este tiempo, he adquirido una amplia experiencia en la captura de todo tipo de eventos sociales. Para mí, no hay nada como poder capturar momentos y emociones a través de mi lente; es lo que más disfruto en la vida.</p>
                                        </div>
                                        <div class="serv-media">
                                            <img src="assets/photographer/images/about-me.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            
                        <a  class="btn fl-btn">Mi portafolio</a>
                    </div>
                </div>
            </section>
            <!--section end  -->
            <!--section   -->
            <section id="sec2">
                <div class="container small-container">
                    <div class="section-title fl-wrap">
                        <h3>Pricipales servicios</h3>
                        <h4>Aqui ocurre la magia</h4>
                        <p>
                            El desempeñarme en este campo tan extenso me ha permitido conocer y adquirir experiencia en los diferentes ambientes como Actos de Grado, Cumpleaños, Bodas, Bautizos, Britmila, Secciones personales y eventos deportivos, mejorando cada día para brindar un mejor servicio garantizando calidad y responsabilidad..
                        </p>
                        <p>  
                            Normalmente usamos ambientes al aire libre para realizar las secciones fotográfica aprovechando la naturaleza y sus paisajes. Me e inclinado por realizar Bodas, estando atento a los pequeños detalles que hacen la diferencia y plasmar esos momentos inolvidables
                        </p>
                        <div class="section-number">02.</div>
                    </div>
                    <div class="column-wrapper_item fl-wrap">
                        <div class="column-wrapper_text fl-wrap">
                            <!-- serv-wrap-->
                            <div class="serv-wrap fl-wrap">
                                <!-- serv-item -->
                                <div class="serv-item">
                                    <div class="serv-media">
                                        <img src="assets/photographer/images/folio/17.jpg" alt="">
                                    </div>
                                    <div class="serv-text">
                                        <h4><a >Actos de grado</a></h4>
                                        <p> Sed blandit, dolor id aliquam vestibulum, nibh elit imperdiet turpis, quis molestie quam erat vel nisi.</p>
                                        <ul>
                                            <li><a >Filming</a></li>
                                            <li><a >Montage</a></li>
                                            <li><a >Slow motion</a></li>
                                        </ul>
                                        <div class="serv-price">Price :<span> $350-$900</span></div>
                                    </div>
                                </div>
                                 <!-- serv-item end -->
                                <div class="serv-item">
                                    <div class="serv-media">
                                        <img src="assets/photographer/images/folio/6.jpg" alt="">
                                    </div>
                                    <div class="serv-text">
                                        <h4><a >Britmila</a></h4>
                                        <p> Sed blandit, dolor id aliquam vestibulum, nibh elit imperdiet turpis, quis molestie quam erat vel nisi.</p>
                                        <ul>
                                            <li><a >Portraits</a></li>
                                            <li><a >Weddings</a></li>
                                            <li><a >Commercials</a></li>
                                        </ul>
                                        <div class="serv-price">Price :<span> $250-$1200</span></div>
                                    </div>
                                </div>
                               
                                <!-- serv-item -->
                                <div class="serv-item">
                                    <div class="serv-media">
                                        <img src="assets/photographer/images/folio/17.jpg" alt="">
                                    </div>
                                    <div class="serv-text">
                                        <h4><a >Bautizos</a></h4>
                                        <p> Sed blandit, dolor id aliquam vestibulum, nibh elit imperdiet turpis, quis molestie quam erat vel nisi.</p>
                                        <ul>
                                            <li><a >Filming</a></li>
                                            <li><a >Montage</a></li>
                                            <li><a >Slow motion</a></li>
                                        </ul>
                                        <div class="serv-price">Price :<span> $350-$900</span></div>
                                    </div>
                                </div>
                                <!-- serv-item end -->
                                <div class="serv-item">
                                    <div class="serv-media">
                                        <img src="assets/photographer/images/folio/17.jpg" alt="">
                                    </div>
                                    <div class="serv-text">
                                        <h4><a >Bodas</a></h4>
                                        <p> Sed blandit, dolor id aliquam vestibulum, nibh elit imperdiet turpis, quis molestie quam erat vel nisi.</p>
                                        <ul>
                                            <li><a >Filming</a></li>
                                            <li><a >Montage</a></li>
                                            <li><a >Slow motion</a></li>
                                        </ul>
                                        <div class="serv-price">Price :<span> $350-$900</span></div>
                                    </div>
                                </div>
                                <!-- serv-item end -->
                                <div class="serv-item">
                                    <div class="serv-media">
                                        <img src="assets/photographer/images/folio/17.jpg" alt="">
                                    </div>
                                    <div class="serv-text">
                                        <h4><a >Cumpleaños</a></h4>
                                        <p> Sed blandit, dolor id aliquam vestibulum, nibh elit imperdiet turpis, quis molestie quam erat vel nisi.</p>
                                        <ul>
                                            <li><a >Filming</a></li>
                                            <li><a >Montage</a></li>
                                            <li><a >Slow motion</a></li>
                                        </ul>
                                        <div class="serv-price">Price :<span> $350-$900</span></div>
                                    </div>
                                </div>
                                
                                <!-- serv-item end -->
                                <div class="serv-item">
                                    <div class="serv-media">
                                        <img src="assets/photographer/images/folio/17.jpg" alt="">
                                    </div>
                                    <div class="serv-text">
                                        <h4><a >Evento deportivos</a></h4>
                                        <p> Sed blandit, dolor id aliquam vestibulum, nibh elit imperdiet turpis, quis molestie quam erat vel nisi.</p>
                                        <ul>
                                            <li><a >Filming</a></li>
                                            <li><a >Montage</a></li>
                                            <li><a >Slow motion</a></li>
                                        </ul>
                                        <div class="serv-price">Price :<span> $350-$900</span></div>
                                    </div>
                                </div>
                                <!-- serv-item end -->
                               
                                <!-- serv-item end -->
                                <div class="serv-item">
                                    <div class="serv-media">
                                        <img src="assets/photographer/images/folio/17.jpg" alt="">
                                    </div>
                                    <div class="serv-text">
                                        <h4><a >Sesiones personales</a></h4>
                                        <p> Sed blandit, dolor id aliquam vestibulum, nibh elit imperdiet turpis, quis molestie quam erat vel nisi.</p>
                                        <ul>
                                            <li><a >Filming</a></li>
                                            <li><a >Montage</a></li>
                                            <li><a >Slow motion</a></li>
                                        </ul>
                                        <div class="serv-price">Price :<span> $350-$900</span></div>
                                    </div>
                                </div>
                                <!-- serv-item end -->
                            </div>
                            <!-- serv-wrap end -->
<!--                             <p>Praesent nec leo venenatis elit semper aliquet id ac enim. Maecenas nec mi leo. Etiam venenatis ut dui non hendrerit. Integer dictum, diam vitae blandit accumsan, dolor odio tempus arcu, vel ultrices nisi nibh vitae ligula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi varius lacinia vestibulum. Aliquam lobortis facilisis tellus, in facilisis ex vehicula ac. In malesuada quis turpis vel viverra.</p>
 -->                        </div>
                    </div>
                </div>
            </section>
            <!--section end  -->
            <!--section   -->
            <section id="sec3">
                <div class="container small-container">
                    <div class="section-title fl-wrap">
                        <h3>PROCESAMIENTO DE FOTOGRAFÍAS</h3>
                        <p>Me apasiona mostrar el proceso de edición fotográfica. A menudo, el verdadero impacto solo se hace evidente a través de una comparación directa. Permíteme ilustrarte este concepto presentándote una imagen antes y después de su procesamiento. 
                        </p>
                        <div class="section-number">03.</div>
                       

                    </div>
                    
                    <!-- <div class="column-wrapper_item fl-wrap">
                        <div class="column-wrapper_text fl-wrap">
                            <div class="skillbar-box animaper">
                                
                                <div class="skillbar_item">
                                    <div class="custom-skillbar-title"><span>Photoshop</span></div>
                                    <div class="skill-bar-percent">95%</div>
                                    <div class="skillbar-bg" data-percent="95%">
                                        <div class="custom-skillbar"></div>
                                    </div>
                                </div>
                               
                                <div class="skillbar_item">
                                    <div class="custom-skillbar-title"><span>Illustrator</span></div>
                                    <div class="skill-bar-percent">65%</div>
                                    <div class="skillbar-bg" data-percent="65%">
                                        <div class="custom-skillbar"></div>
                                    </div>
                                </div>
                                
                                <div class="skillbar_item">
                                    <div class="custom-skillbar-title"><span>3D MAX</span></div>
                                    <div class="skill-bar-percent">75%</div>
                                    <div class="skillbar-bg" data-percent="75%">
                                        <div class="custom-skillbar"></div>
                                    </div>
                                </div>
                                
                                <div class="skillbar_item">
                                    <div class="custom-skillbar-title"><span>Google ScketchUp</span></div>
                                    <div class="skill-bar-percent">90%</div>
                                    <div class="skillbar-bg" data-percent="90%">
                                        <div class="custom-skillbar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </section>
            <!--section end  -->
            <!--section -->
           <section id="sec4">
                <div class="container small-container">
                    <div class="section-title fl-wrap">
                        <h3> Testimonios</h3>
                        <h4>Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa</h4>
                        <div class="section-number">04.</div>
                    </div>
                </div>
                <div class="container small-container">
                    <div class="testimonilas-carousel">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                               
                                <div class="swiper-slide">
                                    <div class="testi-item_wrap">
                                        <div class="testi-item">
                                            <h3>Liza Mirovsky</h3>
                                            <p>"All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over "</p>
                                            <a  class="teti-link" target="_blank">Via Twitter</a>
                                        </div>
                                        <div class="bg" data-bg="assets/photographer/images/folio/5.jpg"></div>
                                        <div class="overlay"></div>
                                    </div>
                                </div>
                               
                                <div class="swiper-slide">
                                    <div class="testi-item_wrap">
                                        <div class="testi-item ">
                                            <h3>Andy Smith</h3>
                                            <p>"Vestibulum orci felis, ullamcorper non condimentum non, ultrices ac nunc. Mauris non ligula suscipit, vulputate mi accumsan, dapibus felis . "</p>
                                            <a  class="teti-link" target="_blank">Via Facebook</a>
                                        </div>
                                        <div class="bg" data-bg="assets/photographer/images/folio/8.jpg"></div>
                                        <div class="overlay"></div>
                                    </div>
                                </div>
                               
                                <div class="swiper-slide">
                                    <div class="testi-item_wrap">
                                        <div class="testi-item">
                                            <h3>Mery Trust</h3>
                                            <p>"All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over "</p>
                                            <a  class="teti-link" target="_blank">Via Twitter</a>
                                        </div>
                                        <div class="bg" data-bg="assets/photographer/images/folio/20.jpg"></div>
                                        <div class="overlay"></div>
                                    </div>
                                </div>
                               
                                <div class="swiper-slide">
                                    <div class="testi-item_wrap">
                                        <div class="testi-item">
                                            <h3>Centa Simpson</h3>
                                            <p>"Vestibulum orci felis, ullamcorper non condimentum non, ultrices ac nunc. Mauris non ligula suscipit, vulputate mi accumsan, dapibus felis. Nullam sed sapien dui.   "</p>
                                            <a  class="teti-link" target="_blank">Via Facebook</a>
                                        </div>
                                        <div class="bg" data-bg="assets/photographer/images/folio/18.jpg"></div>
                                        <div class="overlay"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_slider_btn hsc-next"><i class="fal fa-angle-right"></i></div>
                        <div class="single_slider_btn hsc-prev"><i class="fal fa-angle-left"></i></div>
                    </div>
                    <div class="testi-contorls">
                        <div class="hero-slider-wrap_pagination-wrap2">
                            <div class="hero-slider-wrap_pagination hero-slider-pag"></div>
                        </div>
                        <div class="testi-counter">
                            <div class="ts_current">01</div>
                            <div class="ts_total"></div>
                        </div>
                    </div>
                </div>
            </section> 
            <!--section end  -->
            <!-- <div class="clients-carousel-wrap">
                <div class="clients-carousel">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                           
                            <div class="swiper-slide">
                                <a  class="client-item"><img src="assets/photographer/images/clients/1.png" alt=""></a>
                            </div>
                            
                           
                            <div class="swiper-slide">
                                <a  class="client-item"><img src="assets/photographer/images/clients/2.png" alt=""></a>
                            </div>
                            
                           
                            <div class="swiper-slide">
                                <a  class="client-item"><img src="assets/photographer/images/clients/3.png" alt=""></a>
                            </div>
                            
                           
                            <div class="swiper-slide">
                                <a  class="client-item"><img src="assets/photographer/images/clients/4.png" alt=""></a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="order-wrap">
                <div class="container small-container">
                    <h4>Si tienes una solicitud diferente escribeme</h4>
                </div>
                <a  class="order_btn">Contacto</a>
            </div>
        </div>
        <!-- column-wrapper -->
        <!-- fixed-bottom-container -->
        <div class="fixed-bottom-container">
            <div class="scroll-down-wrap">
                <div class="mousey">
                    <div class="scroller"></div>
                </div>
            </div>
            <div class="page-scroll-nav">
                <nav class="scroll-init">
                    <ul>
                        <li><a  href="about.html#sec1" class="act-sec"></a><span>Sobre mi</span></li>
                        <li><a  href="about.html#sec2"></a><span>Servicios</span></li>
                        <li><a  href="about.html#sec3"></a><span>Edición</span></li>
                        <li><a  href="about.html#sec4"></a><span>Contacto</span></li>
                    </ul>
                </nav>
            </div>
            <div class="progress-bar-wrap">
                <div class="progress-bar color-bg"></div>
            </div>
        </div>
        <!-- fixed-bottom-container end-->
    </div>
    <!-- content-holder end -->
</div>