<header class="main-header">
    <div class="main-inner">
        <!--logo-->
        <a href="index.html" class="logo-holder"><img src="assets/photographer/images/logo.png" alt=""></a>
        <!--logo end-->
        <!-- sb-button-->
        <div class="sb-button c_sb"><span></span></div>
        <!-- sb-button end-->
        <!-- mobile nav -->
        <div class="nav-button-wrap">
            <div class="nav-button"><span></span><span></span><span></span></div>
        </div>
        <!-- mobile nav end-->	
        <!-- share btn-->	
<!--         <div class="share-btn isShare show-share"> <span>Share  <i class="fal fa-chevron-up"></i></span></div>
 -->        <!-- share btn end-->	
        <!--  navigation -->
        <div class="nav-holder main-menu">
            <nav>
                <ul>
                    <li>
                        <a [routerLink]="['./']">Inicio </a>
                       
                    </li>
                    <li>
                        <a [routerLink]="['./portfolio']">Portafolio </a>
                       
                        <!-- <ul>
                            <li><a href="portfolio.html">Horizontal Grid </a></li>
                            <li><a href="portfolio2.html">Vertical Grid</a></li>
                            <li><a href="portfolio3.html">Column Grid</a></li>
                            <li>
                                <a href="index.html#">Single </a>
                             
                                <ul>
                                    <li><a href="portfolio-single.html">Style 1</a></li>
                                    <li><a href="portfolio-single2.html">Style 2</a></li>
                                    <li><a href="portfolio-single3.html">Style 3</a></li>
                                    <li><a href="portfolio-single4.html">Style 4</a></li>
                                </ul>
                              
                            </li>
                        </ul> -->
                        
                    </li>
                    <li>
                        <a [routerLink]="['./about']">Sobre mi</a>
                    </li>
                    <li>
                        <a [routerLink]="['./services']">Servicios</a>
                    </li>
                    <li>
                        <a [routerLink]="['./contact']">Contacto</a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- navigation  end -->  						
        <!-- share-wrapper-->  
        <div class="share-wrapper">
            <div class="share-inner">
                <div class="share-container"></div>
            </div>
        </div>
        <!-- share-wrapper end -->  
    </div>
</header>

<div class="aside-column">
    <!-- social_links-->
    <div class="header_social">
        <ul>
            <li><a href="index.html#" target="_blank">Fb</a></li>
            <li><a href="index.html#" target="_blank">Ins</a></li>
            <li><a href="index.html#" target="_blank">Tw</a></li>
            <li><a href="index.html#" target="_blank">Tic</a></li>
        </ul>
    </div>
    <!-- social_links end-->			
</div>