<div>
  <app-header-photographer></app-header-photographer> 
  <router-outlet></router-outlet>
  <app-footer-photographer></app-footer-photographer>
  <div class="sidebar-wrap">
    <div class="sidebar-wrap-container">
        <!-- sb-widget-wrap-->
        <div class="sb-widget-wrap fl-wrap">
            <h3>Julian Pilcue</h3>
            <div class="sb-widget-wrap fl-wrap">
              <h3>Fotografo de profesión</h3>
              <div class="sb-widget  fl-wrap">
                  <p>Encantado de conocerte, amigo. Me llamo Julian Pilcue.</p>
                    <p> Mi ubicación actual es Israel ciudad de Ashkelon.</p>
                    <p>La fotografía es mi pasión; a través de la lente el mundo se ve diferente y me gustaría mostrarte esta diferencia</p>                  
              </div>
          </div>
            <div class="sb-widget  fl-wrap">
                <div class="categories_widget-wrap">
                    <!-- categories_widget_item-->
                    <a class="categories_widget_item" href="">
                        <div class="categories_widget_item_img">
                            <img src="assets/photographer/images/folio/14.jpg" class="respimg" alt="">
                        </div>
                        <span class="categories_widget_title">Crazy, Cute Couple</span>
                    </a>
                    <!-- categories_widget_item end-->
                    <!-- categories_widget_item-->
                    <a class="categories_widget_item" href="">
                        <div class="categories_widget_item_img">
                            <img src="assets/photographer/images/folio/15.jpg" class="respimg" alt="">
                        </div>
                        <span class="categories_widget_title">Alone on Nature</span>
                    </a>
                    <!-- categories_widget_item end-->							
                    <!-- categories_widget_item-->
                    <a class="categories_widget_item" href="">
                        <div class="categories_widget_item_img">
                            <img src="assets/photographer/images/folio/16.jpg" class="respimg" alt="">
                        </div>
                        <span class="categories_widget_title">Living in my dream</span>
                    </a>
                    <!-- categories_widget_item end-->
                    <!-- categories_widget_item-->
                    <a class="categories_widget_item" href="">
                        <div class="categories_widget_item_img">
                            <img src="assets/photographer/images/folio/17.jpg" class="respimg" alt="">
                        </div>
                        <span class="categories_widget_title">Sunny Side Up</span>
                    </a>
                    <!-- categories_widget_item end-->						
                </div>
            </div>
        </div>
        <!-- sb-widget-wrap end-->					
        <!-- sb-widget-wrap-->
        
        <!-- sb-widget-wrap end-->
        <!-- sb-widget-wrap-->
        <div class="sb-widget-wrap fl-wrap">
            <h3>Sigueme en las redes</h3>
            <div class="sb-widget    fl-wrap">
                <div class="sidebar-social fl-wrap">
                    <ul>
                        <li><a href="index.html#" target="_blank">Fb</a></li>
                        <li><a href="index.html#" target="_blank">Ins</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- sb-widget-wrap end-->
    </div>
</div>
<div class="sb-overlay"></div>
</div>