<!-- categories section start -->
<section>
    <div class="custom-container">
      <div class="swiper categories">
        <div class="swiper-wrapper ratio_square">
          <div class="swiper-slide">
            <a href="landing.html#" class="categories-item active">
              <img class="categories-img" src="assets/fuzzy/images/svg/sofa.svg" alt="sofa" />
              <h4>Sofa</h4>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="shop.html" class="categories-item">
              <h4>Chair</h4>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="shop.html" class="categories-item">
              <h4>Table</h4>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="shop.html" class="categories-item">
              <h4>Cabinets</h4>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="shop.html" class="categories-item">
              <h4>Cupboard</h4>
            </a>
          </div>
  
          <div class="swiper-slide">
            <a href="shop.html" class="categories-item">
              <h4>Lamp</h4>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- categories section end -->