<div id="wrapper">
    <!-- content-holder -->
    <div class="content-holder">
        <!-- column-image  -->
        <div class="column-image">
            <div class="bg"  data-bg="assets/photographer/images/bg/4.jpg"></div>
            <div class="overlay"></div>
            <div class="column-title">
                <h2>Our Last News</h2>
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar.</h3>
            </div>
            <div class="ci_dec"><span></span></div>
        </div>
        <!-- column-image end  -->
        <!-- column-wrapper -->
        <div class="column-wrapper">
            <!--section  -->
            <section id="sec1">
                <div class="container small-container">
                    <div class="blog-opt">
                        <div class="blog-search-wrap custom-form">
                            <input name="se" id="se" type="text" class="search" placeholder="Search..." value="">
                            <button><i class="far fa-search"></i></button>
                        </div>
                        <!-- filter category    -->
                        <div class="category-filter blog-btn-filter">
                            <div class="blog-btn">Categories - Tags </div>
                            <div class="blog-filter-wrap">
                                <div class="blog-filter-wrap_item" data-bfgt="Categories">
                                    <ul>
                                        <li><a href="blog.html#">Interior</a></li>
                                        <li><a href="blog.html#">Nature</a></li>
                                        <li><a href="blog.html#">Comercial</a></li>
                                        <li><a href="blog.html#">Travel</a></li>
                                    </ul>
                                </div>
                                <div class="blog-filter-wrap_item" data-bfgt="Tags">
                                    <ul>
                                        <li><a href="blog.html#">Blog</a></li>
                                        <li><a href="blog.html#">Photography</a></li>
                                        <li><a href="blog.html#">Portfolio</a></li>
                                        <li><a href="blog.html#">Tag</a></li>
                                        <li><a href="blog.html#">Video</a></li>
                                    </ul>
                                </div>
                                <div class="blog-filter-wrap_title"></div>
                            </div>
                        </div>
                        <!-- filter category end  --> 	
                    </div>
                    <div class="post-items">
                        <!-- post-item-->
                        <div class="post-item">
                            <div class="post-item_wrap">
                                <div class="post-item_media">
                                    <a href="blog-single.html">
                                    <img src="assets/photographer/images/folio/6.jpg" alt="">
                                    </a>
                                </div>
                                <div class="post-item_content">
                                    <div class="post-header"><a href="blog.html#">25 may 2022</a> <a href="blog.html#">Nature</a> <a href="blog.html#">Trip</a> </div>
                                    <h3><a href="blog-single.html">Wood Nature Trip</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla...</p>
                                    <a href="blog-single.html" class="single-btn"><span>Read more</span></a>
                                </div>
                            </div>
                        </div>
                        <!-- post-item end-->
                        <!-- post-item-->
                        <div class="post-item">
                            <div class="post-item_wrap">
                                <div class="post-item_media">
                                    <a href="blog-single.html">
                                    <img src="assets/photographer/images/folio/7.jpg" alt="">
                                    </a>
                                </div>
                                <div class="post-item_content">
                                    <div class="post-header"><a href="blog.html#">20 April 2022</a> <a href="blog.html#">Outdoor</a> <a href="blog.html#">Travel</a> </div>
                                    <h3><a href="blog-single.html">Funny Animals</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla...</p>
                                    <a href="blog-single.html" class="single-btn"><span>Read more</span></a>
                                </div>
                            </div>
                        </div>
                        <!-- post-item end-->									
                        <!-- post-item-->
                        <div class="post-item">
                            <div class="post-item_wrap">
                                <div class="post-item_media">
                                    <a href="blog-single.html">
                                    <img src="assets/photographer/images/folio/14.jpg" alt="">
                                    </a>
                                </div>
                                <div class="post-item_content">
                                    <div class="post-header"><a href="blog.html#">15 march 2022</a> <a href="blog.html#">Outdoor</a> <a href="blog.html#">Trip</a> </div>
                                    <h3><a href="blog-single.html">Connecting the Lost</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla...</p>
                                    <a href="blog-single.html" class="single-btn"><span>Read more</span></a>
                                </div>
                            </div>
                        </div>
                        <!-- post-item end-->
                        <!-- post-item-->
                        <div class="post-item">
                            <div class="post-item_wrap">
                                <div class="post-item_media">
                                    <a href="blog-single.html">
                                    <img src="assets/photographer/images/folio/16.jpg" alt="">
                                    </a>
                                </div>
                                <div class="post-item_content">
                                    <div class="post-header"><a href="blog.html#">10 march 2022</a> <a href="blog.html#">Models</a> <a href="blog.html#">Trip</a> </div>
                                    <h3><a href="blog-single.html">The Beauty in the Calm</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla...</p>
                                    <a href="blog-single.html" class="single-btn"><span>Read more</span></a>
                                </div>
                            </div>
                        </div>
                        <!-- post-item end-->										
                        <!-- post-item-->
                        <div class="post-item">
                            <div class="post-item_wrap">
                                <div class="post-item_media">
                                    <a href="blog-single.html">
                                    <img src="assets/photographer/images/folio/17.jpg" alt="">
                                    </a>
                                </div>
                                <div class="post-item_content">
                                    <div class="post-header"><a href="blog.html#">03 march 2022</a> <a href="blog.html#">Outdoor</a> <a href="blog.html#">Nature</a> </div>
                                    <h3><a href="blog-single.html">Wood Nature Trip</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla...</p>
                                    <a href="blog-single.html" class="single-btn"><span>Read more</span></a>
                                </div>
                            </div>
                        </div>
                        <!-- post-item end-->	
                        <!-- post-item-->
                        <div class="post-item">
                            <div class="post-item_wrap">
                                <div class="post-item_media">
                                    <a href="blog-single.html">
                                    <img src="assets/photographer/images/folio/18.jpg" alt="">
                                    </a>
                                </div>
                                <div class="post-item_content">
                                    <div class="post-header"><a href="blog.html#">01 march 2022</a> <a href="blog.html#">Models</a> <a href="blog.html#">Trip</a> </div>
                                    <h3><a href="blog-single.html">Snowy Mountains Journey</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla...</p>
                                    <a href="blog-single.html" class="single-btn"><span>Read more</span></a>
                                </div>
                            </div>
                        </div>
                        <!-- post-item end-->									
                    </div>
                    <!--pagination-->   
                    <div class="pagination">
                        <div class="pr-bg pr-bg-white"></div>
                        <a href="blog.html#" class="prevposts-link"><i class="fal fa-long-arrow-left"></i></a>
                        <a href="blog.html#">01</a>
                        <a href="blog.html#" class="current-page">02</a>
                        <a href="blog.html#">03</a>
                        <a href="blog.html#">04</a>
                        <a href="blog.html#" class="nextposts-link"><i class="fal fa-long-arrow-right"></i></a>
                    </div>
                    <!--pagination end-->				
                </div>
            </section>
            <!--section end  -->
            <div class="order-wrap">
                <div class="container small-container">
                    <h4>Ready To order Your Project?</h4>
                </div>
                <a href="contacts.html" class="order_btn">Get In Touch</a>
            </div>
        </div>
        <!-- column-wrapper -->
        <!-- fixed-bottom-container -->
        <div class="fixed-bottom-container">
            <div class="scroll-down-wrap">
                <div class="mousey">
                    <div class="scroller"></div>
                </div>
            </div>
            <a href="index.html" class="bth_btn hbn_vis"><i class="fal fa-home-lg-alt"></i><strong>Back to Home</strong></a>
            <div class="progress-bar-wrap">
                <div class="progress-bar color-bg"></div>
            </div>
        </div>
        <!-- fixed-bottom-container end-->
    </div>
    <!-- content-holder end -->
</div>