<section class="section-t-space">
    <div class="custom-container">
      <div class="row g-3">
        <div class="col-12">
          <div class="order-product-box">
            <div class="horizontal-product-box">
              <a href="order-history.html#" class="horizontal-product-img">
                <img class="img-fluid img" src="assets/fuzzy/images/product/3.png" alt="p3" />
              </a>
              <div class="horizontal-product-details">
                <div class="d-flex align-items-center justify-content-between gap-2">
                  <h4>Wingback Chair</h4>

                  <h6 class="product-status">Ongoing</h6>
                </div>
                <h5>Qty:1</h5>
                <h5 class="view-details">View Details</h5>
              </div>
            </div>
            <div class="order-details d-block">
              <div class="d-flex align-items-center justify-content-between">
                <h5 class="theme-color">Order : <span class="light-text">26 Jan’23</span></h5>
                <h5>Dispatched</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="order-product-box">
            <div class="horizontal-product-box">
              <a href="order-history.html#" class="horizontal-product-img">
                <img class="img-fluid img" src="assets/fuzzy/images/product/6.png" alt="p6" />
              </a>
              <div class="horizontal-product-details">
                <div class="d-flex align-items-center justify-content-between gap-2">
                  <h4>Table Lamp</h4>
                  <h6 class="product-status">Ongoing</h6>
                </div>
                <h5>Qty:1</h5>
                <h5 class="view-details">View Details</h5>
              </div>
            </div>
            <div class="order-details d-block">
              <div class="d-flex align-items-center justify-content-between">
                <h5 class="theme-color">Order : <span class="light-text">26 Jan’23</span></h5>
                <h5>Dispatched</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="order-product-box">
            <div class="horizontal-product-box">
              <a href="order-history.html#" class="horizontal-product-img">
                <img class="img-fluid img" src="assets/fuzzy/images/product/7.png" alt="p7" />
              </a>
              <div class="horizontal-product-details">
                <div class="d-flex align-items-center justify-content-between gap-2">
                  <h4>Side Table</h4>
                  <h6 class="product-status delivered">Delivered</h6>
                </div>
                <h5>Qty:1</h5>
                <h5 class="view-details">View Details</h5>
              </div>
            </div>
            <div class="order-details d-block">
              <div class="d-flex align-items-center justify-content-between">
                <h5 class="theme-color">Order : <span class="light-text">26 Jan’23</span></h5>
                <h5>Dispatched</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>