


  <div class="appBottomMenu" [hidden]="router.url.includes('c2oOrders')|| router.url.includes('login')|| router.url.includes('detail')">
    <a href="index.html" class="item active">
        <div class="col">
          <img  src="assets/fuzzy/images/svg/home.svg" alt="Inicio" />
            <strong>Inicio</strong>
        </div>
    </a>
    <a routerLink="orders" class="item">
        <div class="col"> <img  src="assets/fuzzy/images/svg/bag.svg" alt="Ordenes" />
            <strong>Ordenes</strong>
        </div>
    </a>
    <!-- <a href="app-components.html" class="item">
        <div class="col"> <img class="unactive" src="assets/fuzzy/images/svg/home.svg" alt="home" />
            <strong>Components</strong>
        </div>
    </a>
    <a href="app-cards.html" class="item">
        <div class="col"> <img class="unactive" src="assets/fuzzy/images/svg/home.svg" alt="home" />
            <strong>My Cards</strong>
        </div>
    </a>
    <a href="app-settings.html" class="item">
        <div class="col"> <img class="unactive" src="assets/fuzzy/images/svg/home.svg" alt="home" />
            <strong>Settings</strong>
        </div>
    </a> -->
</div>